:root {
  --font-color: #272222;
  --branding-color: #dfccc2;
  --button-font-color: #dfccc2;
  --button-color: #ad775a;
  --main-font: "lexend" , cursive;
  --secondary-font: "lexend", cursive;
  --background-color: #dfccc2;
}


html,
body {
  background: var(--background-color);
  margin: 0;
  overflow-x: hidden;
}
body.sign {
        background: #dfccc2;
        background-repeat: no-repeat;
        background-position: center top;
    } 
.job {
    background: #dfccc2;
}

.connect {
    background: #dfccc2;
}
nav {
  padding: 10px 0;
  color: var(--font-color);
}
nav h6 a {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--secondary-font);
  color: var(--font-color);
}
nav h6 a:hover {
  color: var(--font-color);
}
nav ul {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
}
nav li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--font-color);
}
nav li.play a {
  color: var(--button-color);
}
nav li.play:hover {
  color: var(--button-color);
}

nav li a:hover {
    color: #5a5a5a;
  }
  nav li {
    display: inline;
    list-style: none;
    line-height: 25px;
    padding: 30px;
  }
  .girl .container,
  .work .container,
  .connect-container {
    padding: 120px 60px 20px;
  }
  
  .girl img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .connect-container img {
    width: 550px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .girl-about {
    padding: 100px 150px 40px;
    
  }
  .connect-container .intouch {
    padding: 80px 40px;
  }
  .connect-container i {
    color: var(--font-color);
  }
  .connect-container i:hover {
    color: var(--font-color);
    background-color: transparent;
  }
  .connect-container a {
    text-decoration: none;
    color: #5a5a5a;
  }
  .connect-container .connect-link {
    font-size: 24px;
  }
  
  .connect-container,
  .girl h1 {
    font-family: var(--main-font);
    font-size: 26px;
    line-height: 1.5;
    margin: 0;
  }
  .girl .iam {
    font-family: var(--main-font);
    display: inline;
  }

  .girl h2,
  .work h2,
  .connect-container h2 {
    font-family: var(--main-font);
    color: var(--font-color);
  }
  
  .girl h6 {
    font-family: var(--main-font);
    color: gray;
  }
  .girl .btn-branding {
    margin-top: 10px;
  }
  .girl .btn-branding,
  .work .btn-branding-outline {
    background-color: var(--button-color);
    font-family: var(--secondary-font);
    margin: 0px;
    color: var(--button-font-color);
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }
  .btn-branding:hover {
    color: var(--button-font-color);
  }
  .vl {
    height: 100px;
    position: relative;
    left: 50%;
  }
  .work .row {
    background-color: #dfccc2;
    border-radius: 20px;
  }
  
  .work .weather {
    width: 500px;
    height: auto;
  }

  .work p {
    font-family: var(--main-font);
  }
  .work .work-description-right {
    display: block;
    padding-top: 100px;
    padding-right: 50px;
    padding-bottom: 100px;
    text-align: center;
  }
  .work .work-description-left {
    display: absolute;
    padding-top: 100px;
    padding-left: 50px;
    text-align: center;
    padding-bottom: 100px;
  }
  
  .ease-container {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    height: auto;
    font-family: var(--main-font);
    line-height: 1.5;
    color: var(--font-color);
    margin-top: -50px;
    padding: 70px 20px 30px;
    border-radius: 10px;
    background-color: #dfccc2;
  }
  .ease-container h1 {
    margin-bottom: 0;
    font-size: 26px;
  }
  
  .ease-container p {
    padding: 20px 50px;
  }
  footer {
    margin: 20px 0;
    text-align: center;
    padding: 50px;
  }
  footer .mail-link {
    text-decoration: none;
    font-size: 16px;
    color: #585858;
    font-family: var(--secondary-font);
  }
  footer .mail-link:hover {
    color: var(--button-color);
  }
  footer .gather-link a {
    margin: 20px;
  }
  
  footer i {
    font-size: 18px;
    color: var(--button-color);
    background-color: var(--branding-color);
    padding: 10px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
  }
  i:hover {
    color: var(--button-font-color);
    background-color: var(--button-color);
  }
  footer img {
    width: 38px;
    background-color: var(--branding-color);
    border-radius: 50px;
    padding: 10px 8px;
    margin-bottom: 4px;
  }
  footer img:hover {
    background-color: var(--button-color);
  }
 

  h1,
  h2 {
    margin: 0;
  }
  h1 {
    font-size: 50px;
  }
  @media screen and (max-width: 659px) {
    body.sign,
    body.connect {
      background-size: 400px;
    }
    nav {
      padding: 10px 0;
      background-color: var(--container-background-color);
    }
    nav li {
      display: inline;
      list-style: none;
      line-height: 10px;
      padding: 10px;
    }
    .girl {
      background-color: var(--background-color);
    }
    .girl .container {
      padding: 40px 20px 20px;
    }
    .girl-about {
      padding: 100px 40px;
    }
    .connect-container {
      padding: 40px 10px 20px;
      text-align: center;
    }
    .connect-container img {
      width: 400px !important;
      height: auto;
    }
  
    .connect-container .intouch {
      background-color: #dfccc2;
      margin-top: 30px;
      padding: 40px 30px 30px;
      border-radius: 20px;
    }
    .connect-container .connect-link {
      font-size: 18px;
    }
    .connectcontainer h3 {
      font-size: 22px;
    }
    .girl h1,
    .connect-container h1 {
      text-align: center;
      font-size: 26px;
      line-height: 1;
      margin-top: 10px;
    }
    .girl h2 {
      text-align: center;
    }
    .ease-container h1 {
      margin-bottom: 0;
    }
    .ease-container {
      line-height: 1.8em;
      width: 330px !important;
      height: auto;
      border-radius: 20px;
      background-color: #dfccc2;
  
    }
    .ease-container p {
      padding: 10px 10px;
      font-size: 18px;
    }
  
    .girl h6 {
      text-align: center;
      margin-top: 50px;
    }
  
    .girl .btn-branding {
      display: flex;
      justify-content: center;
      margin-top: 20px !important;
    }
    .work .row {
      background-color: #dadadada;
    }
    .work .work-description-right,
    .work .work-description-left {
      display: block;
      padding: 50px 20px;
      text-align: center;
    }
    .work .container {
      padding: 40px 40px 20px;
    }
   
    h1 {
      font-size: 20px !important;
    }
    footer {
      margin: 10px 0;
      padding: 20px;
    }
    footer .mail-link {
      display: none;
    }
    footer i {
      color: var(--button-color);
      background-color: var(--background-color);
      padding: 10px;
      border-radius: 20px;
      transition: all 150ms ease-in-out;
    }
    footer img {
      background-color: var(--background-color);
    }
  }
  @media screen and (min-width: 660px) and (max-width: 1200px) {
    body.sign,
    body.connect {
      background-size: 400px;
    }
    .girl {
      background-color: var(--background-color);
    }
    .ease-container {
      width: 550px;
      height: auto;
      border-radius: 20px;
      background-color: #dfccc2;
    }
    .work .work-description-right {
      display: block;
      padding-top: 60px;
      padding-right: 40px;
      padding-left: 40px;
      padding-bottom: 30px;
      text-align: center;
    }
    .work .work-description-left {
      display: block;
      padding-top: 80px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
      text-align: center;
    }
  }